<h1><%= @survey[:title] %></h1>

<form action="/surveys/take/<%= @survey[:survey_id] %>" method="post">
  <% @survey_items.each do |survey_item| %>
    <% question_id = survey_item[:question_id] %>
    <fieldset>
      <legend><%= survey_item[:question] %></legend>

      <% survey_item[:choices].each do |choice| %>
        <% choice_id = choice[:choice_id] %>
        <% choice_text = choice[:choice] %>

        <div>
          <input type="radio" id="<%= choice_id %>" name="<%= question_id %>" value="<%= choice_id %>"
          <% if choice == survey_item[:choices].first %>
            checked
          <% end %> >

          <label for="<%= choice_id %>"><%= choice_text %></label>
        </div>
      <% end %>
    </fieldset>

  <% end %>
  <br>
  <br>
  <button type="submit">Submit</button>
</form>

